# Terraform .terraform directory
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash log files
crash.log

# Terraform variable definition files (sensitive data)
*.tfvars
*.tfvars.json

# Terraform override files (local overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Terraform plan output files
*.tfplan*
